/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  margin: 0 auto;
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: var(--black); /* Fallback color */
  background-color: var(--black-transp-40); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: var(--dark-grey-1);
  color: var(--lighter-grey);
  margin: auto;
  padding: 0;
  border: 1px solid var(--dark-grey-3);
  border-radius: 1rem;
  width: 30rem;
  box-shadow: 0 4px 8px 0 var(--black-transp-20),
    0 6px 20px 0 var(--black-transp-20);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: var(--white);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--light-grey-1);
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-grey-2);
  color: var(--white);
  padding: 2px 16px;
  height: 3rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.modal-body {
  /* display: none; */
  flex-direction: column;
  align-items: center;
  background-color: var(--dark-grey-1);
  height: 100%;
}

.transaction-type {
  background-color: var(--dark-grey-2);
  display: flex;
  color: var(--white);
  border: 2px solid var(--dark-grey-3);
  border-radius: 1rem;
  height: 2.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 2rem;
}

.transaction-type span {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  width: 10rem;
  transition: 0.2s;
}

.hoverable:hover {
  background-color: var(--dark-grey-3);
  transition: 0.2s;
}

.clickable {
  cursor: pointer;
}

.input-fields-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 2rem 0;
}

.input-fields-container label {
  color: var(--light-grey-1);
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.amount-input {
  background-color: transparent;
  padding: 12px 20px;
  border: none;
  outline: none;
  text-align: center;
  color: var(--white);
  font-size: 3rem;
}

/* Hide 'number input' arrows in Chrome */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide 'number input' arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.text-input {
  background-color: var(--dark-grey-2);
  padding: 12px 20px;
  display: inline-block;
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
  border-top: 0;
  border-radius: 1px;
  box-sizing: border-box;
  outline: none;
  margin-bottom: 2rem;
  color: var(--white);
  font-size: 1rem;
}

.text-input:focus {
  border: 2px solid var(--dark-grey-3);
  color: var(--white);
}

.category-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 4rem;
}

.category-row img {
  height: 3rem;
}

.category-input {
  margin: 0;
  transition: 0.2s;
}

.modal-footer {
  padding: 2px 16px;
  background-color: var(--dark-grey-3);
  color: var(--white);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.bg-red {
  background-color: var(--red-1);
}

.bg-green {
  background-color: var(--green-1);
}

.grey-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-grey-2);
  border: solid 1px var(--dark-grey-3);
  border-radius: 1rem;
  color: var(--white);
  padding: 15px 32px;
  font-family: "Inter", sans-serif;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  /* margin: 4px 2px; */
  /* margin-top: 5rem; */
  cursor: pointer;
  height: 3rem;
  transition: 0.2s;
}

.grey-button:hover {
  background-color: var(--dark-grey-3);
}

.category-modal {
  display: grid;
  padding: 2rem;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-row: auto;
}

.category-item {
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 1rem;
  transition: 0.2s;
  color: var(--light-grey-1);
}

.category-item img {
  height: 3rem;
  padding-bottom: 0.2rem;
}

.rounded-border {
  border-radius: 1rem;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

.error-msg-active {
  width: 100%;
  height: 3rem;
  background-color: var(--red-1);
  padding: 1rem;
  color: var(--white);
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  transition: all 1s;
}

.error-msg-hidden {
  width: 100%;
  height: 3rem;
  background-color: transparent;
  padding: 1rem;
  text-align: center;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  transition: all 1s;
}

.border-white {
  border: 1px solid var(--white);
}

.border-grey {
  border: 1px solid var(--dark-grey-3);
}
